.textArea{
    height: 20%;
    width: 54%;
    margin-left: 18%;
    margin-bottom: 3%;
    border-style: dotted;
    position: absolute;
    bottom: 0;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 20;
    font-size: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

button {
    position: fixed;
    bottom: 26%;
    right: 28%;
    color: white;
    background-color: rgb(41, 36, 36);
    border-color: rgb(156, 152, 152);
    display: block;
}
