<div class="leftSideBar sideBar">
  <h1>Ações</h1>
  <br>
  <button class="btn btn-default" (click)="updateTextContent('Change is good')">XD</button>
</div>

<div class="rightSideBar sideBar">
    <h1>Status</h1>
    <br>
    <h2>Inventário:</h2>
    <div class="list-group">
        <div class="list-group-item">
          Chave da porta
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2>Celular:</h2>
    <div class="cellPhone">
      <div class="phoneScreen">

      </div>
    </div>
</div>

<div class="gameArea">
  <div class="gameScreen">

  </div>
  <app-game-text></app-game-text>
  
</div>