.sideBar{
    position: absolute;
    width: 15%;
    background-color: rgba(75, 59, 72, 0.473);
    height: 100vh;
    padding-right: 2%;
    padding-left: 2%;
    z-index: 12;
    color: rgb(255, 255, 255);
}

.rightSideBar{
    right: 0px;
    top: 0px;
    text-align: right;
    width: 25%;
}

.sideBar > * {
    width: 100%;
}

.sideBar > button {
    height: 8%;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    margin-bottom: 10px;
}

.rightSideBar > h1{
    text-align: center;
}

.list-group-item{
    background-color: rgba(0, 0, 0, 0.473);
}

.list-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 20%;
}