<div class="leftSideBar sideBar">
  <h1>Ações</h1>
  <br>
  <button *ngFor="let choice of choices"  
    class="btn btn-default" 
    (click)="onSelectChoice(choice)">
    {{choice.text}}
  </button>
  
</div>

<div class="rightSideBar sideBar">
    <h1>Status</h1>
    <br>
    <h2>Inventário:</h2>
    <div class="list-group list-scroll">
        <div *ngFor="let item of inventary" class="list-group-item">
          {{item.text}}
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2>Celular:</h2>
    <app-phone [conversation]="conversation" [convName]="convName"></app-phone>
</div>

<app-game-screen [personagem]="personagemImg" [myBackgroundUrl]="bkgImg"></app-game-screen>
<app-game-text [textContent]="displayText" ></app-game-text>
  