<div class="leftSideBar sideBar">
  <h1>Ações</h1>
  <br>
  <button *ngFor="let choice of choices"  
    class="btn btn-default" 
    (click)="onSelectChoice(choice)">
    {{choice.text}}
  </button>
  
</div>

<div class="rightSideBar sideBar">
    <h1>Status</h1>
    <br>
    <h2>Inventário:</h2>
    <div class="list-group">
        <div class="list-group-item">
          Chave da porta
        </div>
    </div>
    <br>
    <br>
    <br>
    <h2>Celular:</h2>
    <app-phone></app-phone>
</div>

<app-game-screen></app-game-screen>
<app-game-text></app-game-text>
  