.gameArea{
    position: absolute;
    display: flex;
    background-color: rgb(189, 189, 189);
    height: 100vh;
    background-size:cover;
    /* background-image: url("/assets/pictures/bkg/no-bkg.jpg"); */

    /* TODO: perguntar como dividir a página */
    margin-left: 15%;
    width: 60%;
  }

.character {
    /* display: flex; */
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    align-content: space-around;
    overflow: hidden;
}

.backgroundImg{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
