<div class="cellPhone">
  <div class="phoneScreen">
    <div class="caller-name">
      Jamires
    </div>

    <div class="speech-bubble speech-question-bubble">
      bolha de conversa
    </div>

    <div class="speech-bubble speech-response-bubble">
      bolha de conversa
    </div>
    <div class="speech-bubble speech-response-bubble">
    bolha de conversa
    </div>
    <div class="speech-bubble speech-response-bubble">
    bolha de conversa
    </div>
    <div class="speech-bubble speech-response-bubble">
    bolha de conversa
    </div>

    <!-- position fixed not workind -->
    <!-- <div class="response-box">

        <div id="input-box">

            <input type="text" placeholder="text text" readonly>
            <button>Send</button>
        </div> -->
    <!-- </div> -->
  
  </div>
  
</div>