.cellPhone{
    border-style: solid;
    height: 45%;
    background-color: rgb(63, 42, 42);
}

.phoneScreen{
    background-color: rgba(128, 128, 128, 0.521);
    margin: 5%;
    border-style: solid;
    height: 90%;
	width: 90%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.speech-bubble {
	padding: 3%;
	text-align: left;
	/* width: auto; */
    width: 75%;
    margin-top: 10%;
	position: relative;
	background: #00aabb;
    border-radius: .4em;
}

.speech-question-bubble{
	margin-left: 5%;
}

.speech-question-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -0.375em;
	margin-left: -0.75em;
}

.speech-response-bubble{
	margin-left: 15%;
	/* margin-left: 45%; */
	background:  #9ada70;
}

.speech-response-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-left-color: #9ada70;
	border-right: 0;
	border-top: 0;
	margin-top: -0.375em;
	margin-right: -0.75em;
}

.caller-name{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	background-color: #dcfac7;
	color: rgb(0, 0, 0);
	align-content: center;
	z-index: 10;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom:3%;
}

.response-box {
	background-color: grey;
	border-top-style: dashed;
	margin-top: 10%;
	height: 13%;
	display: flex;
	align-content: space-around;
	bottom: 0px;
}

#input-box {
	float: left;
}

#input-box > button {
	width: 30%;
}

#input-box > input {
	width: 60%;
}