<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">Chat: problemas com insetos</div>
  </div>
  <ul class="messages">

    <!-- MESSAGES HERE -->
    <li class="message appeared" 
    *ngFor="let message of chat"
    [class.right]="message.player == true"
    [class.left]="message.player == false"    >
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">{{message.text}}</div>
        </div>
      </li>

<!-- 
    <li class="message right appeared">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text">asdas</div>
      </div>
    </li>
    <li class="message left appeared">
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">Hello Philip! :)</div>
        </div>
      </li> -->

  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper" style="width: 50%">
      <input class="message_input" placeholder={{typeArea}} readonly/>
    </div>
    
    <div *ngIf="momentoDecisao == false" (click)="clickSend()" class="send_message">
        <div class="icon"></div>
        <div class="text">Send</div>
      </div>

    <div *ngIf="momentoDecisao == true" (click)="clickAgree()" class="send_message">
        <div class="icon"></div>
        <div class="text">Concordar</div>
      </div>

      <div *ngIf="momentoDecisao == true" (click)="clickDisagree()" class="send_message">
          <div class="icon"></div>
          <div class="text">Discordar</div>
        </div>

  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>
